div.con1
{
	position: absolute;
	width: 600px;
    height: 500px;
	left: calc(50% - 300px);
	top: calc(50% - 250px);
}
div.bg
{
	background-position: center center;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	transition: opacity 700ms;
	width: 100%;
}
.btn-lg{
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1;
	border-radius: 0.3rem;
}

.foo
{
	grid-area: footer;
	font-size: large;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top:830px;
}
.btm
{
	color:white;
}