body{
	background-image: url("../picture/1.png");
	background-size: cover;
	display: flex;
}



.c{
	position: fixed;
	bottom: 50px;
	left: 50px;
	height: 50px;
	width:120px;
	background: transparent;
	color:white;
	font-size: 15px;
}



#n{
	position: absolute;
	top:100px;
	width:70%;
	left:15%;
	text-align: center;
	font-size: 20px;
}

